@charset "UTF-8";
/*  Tony Quedeville : tquedevi
 *  Zone01: Bomberman
 *  15-09-2023
 *
 *  Import des _fichiers.sass pour compilation de styles.css
 *  */
/* abstracts (variables, mixin, fonction, placeholder pour extend) */
/*  Tony Quedeville : tquedevi
 *  Zone01: Bomberan
 *  15-09-2023
 *
 *  Variables
 *  */
/*  Tony Quedeville : tquedevi
 *  Zone01: Bomberman
 *  15-09-2023
 *
 *  mixins
 *  */
/* Base (police, norme, box-sizing, ...) */
/*  Tony Quedeville : tquedevi
 *  Zone01: Projet Univers 01
 *  15-09-2023
 *
 *  Initilisation de l'application
 *  */
html, body {
  margin: 0px;
  padding-top: 3px;
  background: url("assets/img/spaceship.jpg");
  background-size: cover;
  overflow: hidden;
}
@media screen and (max-width: 1280px) and (orientation: landscape) {
  html, body {
    overflow: auto;
  }
}
@media screen and (orientation: portrait) {
  html, body {
    overflow: auto;
  }
}

#root {
  height: 100vh;
}

#galaxy01 {
  position: absolute;
  left: -15%;
  top: 10%;
  border-radius: 50%;
  box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.4745098039);
  width: 60%;
  height: 75%;
  opacity: 0.5;
  animation: galaxy-rotate 200s linear infinite;
}

#loadingpage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 999;
}

#loadingLogo {
  margin: 20px;
  animation: logo-rotate 2s linear infinite;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  height: 48px;
}

main {
  display: flex;
  width: 100%;
  height: 93vh;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 1280px) and (orientation: landscape) {
  main {
    margin-top: 5px;
    flex-direction: row;
    width: 100%;
    height: 98vh;
  }
}
@media screen and (orientation: portrait) {
  main {
    flex-direction: column;
    height: 97vh;
  }
}

label {
  margin: 2px;
}

/*  Tony Quedeville : tquedevi
 *  Zone01: Projet Univers 01
 *  15-09-2023
 *
 *  Initialisation de la typographie des éléments textuels
 *  */
h1, h2, h3, h4, h5, h6, label, p, a {
  font-family: Bookman Old Style;
  text-shadow: 0.5rem, 0.5rem, rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 10px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4, input, label {
  font-size: 1.2rem;
}

h5, p, a {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.7rem;
}

p {
  margin: 5px;
}
@media screen and (orientation: portrait) {
  p {
    font-size: 2rem;
  }
}

.pbleu {
  color: rgb(99, 185, 196);
}

/* Components (button, select, input, ... ) */
/*  Tony Quedeville : tquedevi
 *  Zone01: Bomberman
 *  15-09-2023
 *
 *  Champ d'entrée textuel. Type text par défaut, ou nombre, date, ect ...
 *  */
input {
  height: 30px;
  margin: 10px 10px;
  padding-left: 10px;
  background: linear-gradient(0deg, #1e1f20 0%, #021518 100%);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  font-family: Bookman Old Style;
  color: rgb(255, 255, 255);
}
input:hover {
  background: linear-gradient(0deg, rgb(27, 80, 82) 0%, rgb(8, 39, 41) 100%);
  box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  cursor: pointer;
}

input[type=number] {
  width: 4rem;
  height: 2rem;
  color: rgb(255, 255, 255);
}

/*  Tony Quedeville : tquedevi
 *  Zone01: Bomberman
 *  15-09-2023
 *
 *  Input Textarea
 *  */
#message-tchat-contenair {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  margin: 2px;
  margin-left: 0px;
  padding: 2px;
  background: linear-gradient(0deg, #1e1f20 0%, #021518 100%);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  font-family: Bookman Old Style;
  color: rgb(255, 255, 255);
}
textarea:disabled {
  cursor: not-allowed;
}
textarea:hover {
  background: linear-gradient(0deg, rgb(27, 80, 82) 0%, rgb(8, 39, 41) 100%);
  box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  cursor: pointer;
}

/*  Tony Quedeville : tquedevi
 *  Zone01: Bomberman
 *  15-09-2023
 *
 *  Bouton: 
 *  */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  margin: 10px 10px;
  padding: 10px 10px;
  background: linear-gradient(0deg, #1e1f20 0%, #021518 100%);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
}
button:not(:disabled):hover {
  background: linear-gradient(0deg, rgb(27, 80, 82) 0%, rgb(8, 39, 41) 100%);
  box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
  cursor: pointer;
}
button:disabled {
  color: rgb(0, 134, 175);
}

/*  Tony Quedeville : tquedevi
 *  Zone01: Bomberman
 *  15-09-2023
 *
 *  Affichage d'un chrono.
 *  */
#chrono {
  margin: 2px;
  padding: 2px 10px;
  color: rgb(99, 185, 196);
  box-shadow: 0px 0px 10px 2px #76e6e6;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(13, 40, 44, 0.5) 0%, rgba(3, 21, 22, 0.5) 100%);
}

/* Layout (header, footer, main, ...) */
/*  Tony Quedeville : tquedevi
 *  Zone01: Bomberman
 *  15-09-2023
 *
 *  Header: Barre de navigation
 *  */
nav {
  width: 99.6%;
  max-height: 75px;
  margin: 3px;
  background: linear-gradient(0deg, rgba(19, 79, 83, 0.8) 0%, rgba(6, 29, 31, 0.8) 100%);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(255, 255, 255);
  height: 48px;
}

#icnSTS {
  width: 30px;
  animation: pendule 2s linear infinite;
}

#title {
  animation: floating 25s linear infinite;
}

@keyframes pendule {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes floating {
  0% {
    transform: rotate(0deg) translate(0px) scale(1);
  }
  18% {
    transform: translate(20px) scale(0.9);
  }
  25% {
    transform: rotate(3deg) scale(0.7);
  }
  33% {
    transform: rotate(2deg) translate(0px) scale(1);
  }
  45% {
    transform: translate(-20px) scale(0.8);
  }
  66% {
    transform: rotate(-2deg) translate(0px) scale(1);
  }
  75% {
    transform: rotate(2deg) translate(10px) scale(0.9);
  }
  100% {
    transform: rotate(0deg) translate(0px) scale(1);
  }
}
/*  Tony Quedeville : tquedevi
 *  Zone01: Bomberman
 *  15-09-2023
 *
 *  Home page:
 *  */
@keyframes galaxy-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 99.4%;
  height: 92vh;
  margin: 5px 5px;
}
@media screen and (max-width: 1280px) and (orientation: landscape) {
  #home {
    margin-top: 5px;
    flex-direction: row;
    width: 100%;
    height: 98vh;
  }
}
@media screen and (orientation: portrait) {
  #home {
    flex-direction: column;
    height: 97vh;
  }
}

.narration {
  max-width: 80vw;
  margin: 20px;
  text-align: center;
  width: 99.4%;
  max-width: 700px;
  margin: 5px 5px;
  background: linear-gradient(0deg, rgba(19, 79, 83, 0.8) 0%, rgba(6, 29, 31, 0.8) 100%);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
}
.narration h4 {
  color: rgb(194, 197, 24);
}

/*  Tony Quedeville : tquedevi
 *  Zone01: Bomberman
 *  15-09-2023
 *
 *  Game: Espace de jeu
 *  */
#appspace {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 99.8%;
  background: linear-gradient(0deg, rgba(13, 40, 44, 0.5) 0%, rgba(3, 21, 22, 0.5) 100%);
}

#gamepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 75vw;
  height: 92.5vh;
  margin: 2px 2px;
  padding: 2px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  background: linear-gradient(0deg, rgba(13, 40, 44, 0.5) 0%, rgba(3, 21, 22, 0.5) 100%);
}

#gamespace {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(99, 185, 196);
  font-size: 3rem;
}

/*  Tony Quedeville : tquedevi
 *  Zone01: Bomberman
 *  15-09-2023
 *
 *  grille de jeu
 *  */
#gridspace {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(99, 185, 196);
  font-size: 3rem;
  width: 85%;
  height: 91.5vh;
  margin: 2px -2px 2px 4px;
  border-radius: 0.5rem;
}

#grille {
  width: 98.6%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: top;
  justify-content: center;
  color: rgb(99, 185, 196);
  font-size: 0.7rem;
  border-radius: 0.5rem;
}

.col {
  position: absolute;
  width: 6.6666666667%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.case {
  position: absolute;
  width: 100%;
  height: 7.6923076923%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  width: 70%;
  padding-top: 35%;
  padding-bottom: 35%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 2px #76e6e6;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.849) 30%, rgba(43, 42, 42, 0) 100%);
  opacity: 0.5;
  animation: block-animate 15s ease-in-out infinite;
}

@keyframes block-animate {
  0% {
    transform: scale(1) translate(0, 0) rotate(0deg);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 2px #76e6e6;
  }
  25% {
    transform: scale(1.1) translate(5px, -2px) rotate(3deg);
    border-radius: 1rem;
    box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  }
  50% {
    transform: scale(0.5) translate(2px, 5px) rotate(-3deg);
    border-radius: 0.125rem;
    box-shadow: 6px 6px 15px 4px rgb(8, 96, 107);
  }
  75% {
    transform: scale(1.1) translate(-5px, -2px) rotate(3deg);
    border-radius: 1.5rem;
    box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: scale(1) translate(0, 0) rotate(0deg);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 2px #76e6e6;
  }
}
.Pl {
  position: absolute;
  z-index: 2;
  transition: left 2s ease-in-out, top 2s ease-in-out;
  width: 6.6666666667%;
  padding-top: 0.3076923077%;
  padding-bottom: 0.3076923077%;
}

#pl1 {
  border-radius: 50%;
}
#pl1 img {
  animation: player-animate 2s linear infinite;
  width: 110%;
}

#pl2 {
  border-radius: 50%;
}
#pl2 img {
  animation: player-animate 2s linear infinite;
  width: 110%;
}

#pl3 {
  border-radius: 50%;
}
#pl3 img {
  animation: player-animate 2s linear infinite;
  width: 110%;
}

#pl4 {
  border-radius: 50%;
}
#pl4 img {
  animation: player-animate 2s linear infinite;
  width: 110%;
}

.attracGauche {
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.877);
  transition: 3s ease-out;
  transform: scale(0.2) rotate(720deg);
}

.attracDroite {
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.877);
  transition: 3s ease-out;
  transform: scale(0.2) rotate(720deg);
}

.attracHaut {
  box-shadow: 0px 0px 10px 2px #76e6e6;
  transition: 3s ease-out;
  transform: scale(0.2) rotate(720deg);
}

.attracBas {
  box-shadow: 0px 0px 10px 2px #76e6e6;
  transition: 3s ease-out;
  transform: scale(0.2) rotate(720deg);
}

.gauche {
  transition: 500ms;
  transform: rotate(25deg) translate(3px, -5px) scale(1);
}

.droite {
  transition: 500ms;
  transform: rotate(205deg) translate(-3px, -3px) scale(1);
}

.haut {
  transition: 500ms;
  transform: rotate(120deg) translate(0px, -10px) scale(1);
}

.bas {
  transition: 500ms;
  transform: rotate(300deg) translate(-2px, 0px) scale(1);
}

@keyframes player-animate {
  0% {
    transform: scale(1) translate(0, 0);
  }
  25% {
    transform: scale(1.1) translate(3px, -2px);
  }
  50% {
    transform: scale(0.9) translate(2px, 3px);
  }
  75% {
    transform: scale(1.1) translate(-3px, -2px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}
.Gl {
  z-index: 1;
  width: 70%;
}
.Gl img {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 2px #76e6e6;
  background: url("assets/img/Galaxy01.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  animation: galaxy-rotate 30s linear infinite;
}

.elemGauche {
  transition: 3s ease-in;
  transform: translate(75px, 0px) scale(0) rotate(720deg);
}

.elemDroite {
  transition: 3s ease-in;
  transform: translate(-75px, 0px) scale(0) rotate(720deg);
}

.elemHaut {
  transition: 3s ease-in;
  transform: translate(0px, 67px) scale(0) rotate(720deg);
}

.elemBas {
  transition: 3s ease-in;
  transform: translate(0px, -67px) scale(0) rotate(720deg);
}

@keyframes planete-rotate {
  0% {
    box-shadow: 0px 0px 10px 2px #76e6e6;
    transform: rotate(0deg) scale(1);
  }
  12% {
    box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.5);
    transform: rotate(45deg) scale(0.8);
  }
  25% {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.877);
    transform: rotate(90deg) scale(0.7);
  }
  37% {
    box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.5);
    transform: rotate(135deg) scale(0.9);
  }
  50% {
    box-shadow: 0px 0px 10px 2px #76e6e6;
    transform: rotate(180deg) scale(0.8);
  }
  62% {
    box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.5);
    transform: rotate(225deg) scale(0.7);
  }
  75% {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.877);
    transform: rotate(270deg) scale(0.9);
  }
  87% {
    box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.5);
    transform: srotate(315deg) scale(0.6);
  }
  100% {
    box-shadow: 0px 0px 10px 2px #76e6e6;
    transform: rotate(360deg) scale(1);
  }
}
.Bn {
  width: 80%;
}
.Bn img {
  box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.4745098039);
  border-radius: 50%;
  animation: planete-rotate 10s linear infinite;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  transform: scale(1);
}

.Bn_vie {
  background: url("assets/img/planet-bleue.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.Bn_bigbang {
  background: url("assets/img/planet-rouge.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.Bn_portee {
  background: url("assets/img/planet-jaune.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.Bn_vitesse {
  background: url("assets/img/planet-grise.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.Bn_5 {
  background: url("assets/img/planet-verte.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.Bn_6 {
  background: url("assets/img/planet-rose.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.Bb {
  width: 65%;
  padding-bottom: 65%;
  border-radius: 50%;
  background: url("assets/img/blackHole.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  animation: black-hole 2s linear infinite;
}

@keyframes black-hole {
  0% {
    transform: rotate(0deg);
    box-shadow: 0px 0px 10px 2px #76e6e6;
  }
  50% {
    box-shadow: 0px 0px 100px 20px rgba(255, 255, 255, 0.5);
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0px 0px 10px 2px #76e6e6;
  }
}
.rotate-message {
  position: absolute;
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(5, 201, 235, 0.356) 0%, rgba(101, 39, 6, 0.09) 50%, rgba(98, 0, 255, 0.226) 100%);
  animation: gameMessage 4s linear infinite;
  background: url("assets/img/blackHole.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

.game-message {
  z-index: 2;
  position: absolute;
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.849) 30%, rgba(43, 42, 42, 0) 100%);
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(194, 197, 24);
}
.game-message p {
  font-size: 1.5rem;
  color: rgb(99, 185, 196);
}

@keyframes gameMessage {
  0% {
    transform: rotate(0deg);
    box-shadow: 0px 0px 10px 2px #76e6e6;
    opacity: 0;
  }
  25% {
    box-shadow: 0px 0px 300px 60px rgba(255, 255, 255, 0.5);
    opacity: 0.3;
  }
  50% {
    box-shadow: 0px 0px 10px 2px #76e6e6;
    opacity: 0.5;
  }
  75% {
    box-shadow: 0px 0px 100px 20px rgba(255, 255, 255, 0.5);
    opacity: 0.3;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0px 0px 10px 2px #76e6e6;
    opacity: 0;
  }
}
/*  Tony Quedeville : tquedevi
 *  Zone01: Bomberman
 *  15-09-2023
 *
 *  Tableau d'affichage du jeu et des scores.
 *  */
#scoreboard {
  width: 30%;
  height: 91.5vh;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  color: rgb(99, 185, 196);
  font-size: 0.7rem;
  position: relative;
  box-shadow: 0px 0px 10px 2px #76e6e6;
  border-radius: 0.5rem;
}

.scoreboard-player {
  width: 90%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 0px 0px 10px 2px #76e6e6;
  border-radius: 0.5rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.849) 30%, rgba(43, 42, 42, 0) 100%);
  margin: 4px;
}

.scoreboard-pseudo {
  font-size: 1.2rem;
}

.avatar {
  width: 25%;
  height: 80%;
  font-size: 1.2rem;
}

.pl1 {
  color: rgb(194, 197, 24);
  background: url("assets/img/starship-1.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.pl2 {
  color: rgb(20, 170, 0);
  font-size: 1.2rem;
  background: url("assets/img/starship-2.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.pl3 {
  color: rgb(0, 134, 175);
  font-size: 1.2rem;
  background: url("assets/img/starship-3.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.pl4 {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  background: url("assets/img/starship-4.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.speed {
  font-size: 0.8rem;
  translate: 80% -20px;
}

.blackhole {
  width: 10%;
  padding-bottom: 10%;
  color: rgb(255, 255, 255);
  background: url("assets/img/blackHole.webp");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  scale: 1;
  border-radius: 50%;
  translate: 15px 5px;
}

.portee {
  width: 8%;
  height: 90%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  background: url("assets/icn/icn-play.png");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  scale: 1;
  translate: -8px 5px;
}

.scoreboard-bonus {
  width: 50%;
  height: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.849) 30%, rgba(43, 42, 42, 0) 100%);
  margin: 4px;
  padding: 2px 15px;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

.size-bonus {
  width: 20%;
  height: 65%;
}

/*  Tony Quedeville : tquedevi
 *  Zone01: Bomberman
 *  15-09-2023
 *
 *  Tchat: Fenêtre de tchat
 *  */
#tchatspace {
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  width: 25vw;
  height: 93vh;
  margin-left: 2px;
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  background: linear-gradient(0deg, rgba(13, 40, 44, 0.5) 0%, rgba(3, 21, 22, 0.5) 100%);
}

#users-conv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 2px;
  width: 98%;
  height: 86vh;
}

#users {
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  margin-left: 2px;
  width: 30%;
  height: 99%;
  box-shadow: 0px 0px 10px 2px #76e6e6;
  border-radius: 0.5rem;
  background: linear-gradient(0deg, rgba(13, 40, 44, 0.5) 0%, rgba(3, 21, 22, 0.5) 100%);
}

#conversation {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: end;
  width: 70%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}
#conversation::-webkit-scrollbar {
  width: 0;
}

.message {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 94%;
  margin: 5px;
  box-shadow: 0px 0px 10px 2px #76e6e6;
  border-radius: 0.5rem;
  background: linear-gradient(0deg, rgba(13, 40, 44, 0.5) 0%, rgba(3, 21, 22, 0.5) 100%);
}

.info-message {
  color: rgb(0, 134, 175);
  margin: 2px 20px;
}

/* Pages (specifique à la page) */
/* Thèmes */
/* Vendors (bootsrtap, jquery, ...) *//*# sourceMappingURL=styles.css.map */